---
import type { Player } from "@/types/Player"

interface Props {
	player: Player
}

const { player } = Astro.props
---

<td class="py-3 font-semibold">
	<span class="flex items-center justify-center">
		<img
			decoding="async"
			class:list={"pointer-events-none aspect-[3/2] h-8 w-auto object-contain object-center"}
			alt={`Bandera de ${player.countryName}`}
			src={`https://cdn.lavelada.dev/flags/${player.country}.webp`}
		/>
		{player.countryName}
	</span>
</td>
