---
import Layout from "@/layouts/Layout.astro"
import Error from "@/sections/Error.astro"

export const prerender = true
---

<Layout
	description="Web Oficial de SuperCopa la Gabriela, torneo de barrio con tematica en selecciones , organizado por Sergio Garces y Anderson Arango"
	title="Página no encontrada - SUPERCOPA la Gabriela"
>
	<main>
		<Error
			error="404"
			message="Página no encontrada"
			contextMessage="¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la dirección URL sea correcta."
		/>
	</main>
</Layout>
