---
import Layout from "@/layouts/Layout.astro"

import Hero from "@/sections/Hero.astro"
import Info from "@/sections/Info.astro"
import LaVeladaVideo from "@/sections/LaVeladaVideo.astro"
import PresentationVideo from "@/sections/PresentationVideo.astro"
import Promotions from "@/sections/Promotions.astro"
import SelectYourBoxer from "@/sections/SelectYourBoxer.astro"
import ThanksMessage from "@/sections/ThanksMessage.astro"
---

<Layout
	description="Web Oficial de SuperCopa la Gabriela, torneo de barrio con tematica en selecciones , organizado por Sergio Garces y Anderson Arango"
	title="SUPERCOPA - Torneo de Sergio y Anderson"
	canonical="#"
>
	<Hero />

	<main>
		<ThanksMessage />
		<LaVeladaVideo />
		<SelectYourBoxer />
		<Promotions />

		<PresentationVideo />
		<Info />
		<!-- <Boxing /> -->
		<!-- <Countdown /> -->
	</main>
</Layout>
