---
import Layout from "@/layouts/Layout.astro"

import { COMBATS } from "@/consts/combats"
import Forecasts from "@/sections/Forecasts.astro"
---

<Layout
	title="Pronostica los ganadores - La Velada del Año IV"
	description="¡Participa votando a los boxeadores que crees que ganarán sus combates!"
>
	<main class="flex flex-col items-center justify-center text-white">
		{COMBATS.map((combat) => <Forecasts combatId={combat.id} />)}
	</main>
</Layout>
